- content_for :page_title do
  = @title

.container-lg#profile_container
  .row
    .col-md-3
      .sidebar.profile-sidebar#profile
        -# here be JS

    .col-md-9
      .profile_header
        = render "people/profile_header", profile: @person

      .stream-container

        //- if user_signed_in? && current_user.person.id == @person.id && !current_page?(person_photos_path(@person))
        //  = render "publisher/publisher", publisher_aspects_for(nil)

        .stream.clearfix#main-stream
          = render "streams/stream", stream: @stream

        #paginate
          .loader.hidden
            .spinner