- if (post.likes_count + post.comments_count + post.reshares_count) > 0
  %div.post-interactions
    - if post.likes_count > 0
      %div
        %i.bi.bi-heart
        = render partial: "streams/interactions/like_counts", locals: {entry: post}
    - if post.comments_count > 0
      %div
        %i.bi.bi-chat
        = t("post-status.comments", count: post.comments_count.to_fs(:human))
    - if post.reshares_count > 0
      %div
        %i.bi.bi-share
        = t("post-status.shares", count: post.reshares_count.to_fs(:human))