%div{data: {controller: "infinite-scroll"}}
  %div{data: {infinite_scroll_target: "entries"}}
    = render partial: "streams/stream_elements", locals:{stream: stream}
  %div{data:{infinite_scroll_target: "pagination"}}
    != pagy_nav(@pagy) if @pagy.pages > 1