%div{data: {controller: "infinite-scroll"}}
  %div{data: {infinite_scroll_target: "entries"}}
    = render partial: "streams/stream_elements", locals:{stream: stream}
  %div{data:{infinite_scroll_target: "pagination"}}
    - if @pagy.vars[:items]>= @stream.size
      = countless_stream_next_tag(@pagy)