.stream-element-footer
  %div{id: dom_id(post), data:{controller: "stream-interactions"}}
    = render partial: "streams/stream_element_actions", locals:{post: post}
    = render partial: "streams/stream_element_status", locals:{post: post}