.container-fluid
  .row
    - # This is the left sidebar
    .col-md-3
      .sidebar.left-sidebar
        %ul.nav.flex-column
          %li.nav-item
            = link_to t("streams.multi.title"), streams_public_path
    - # This is the main content
    .col-md-9
      .stream-container
        %h2= @stream_builder_object.title
        = render "stream", stream: @stream