.container-lg
  .row
    - # This is the left sidebar
    .col-md-3
      = render "shared/sidebar"
    - # This is the main content
    .col-md-9
      %main
        .stream-container
          %h2= @stream_builder_object.title
          = render partial: "streams/stream", locals:{stream: @stream}