.comment{id: dom_id(comment), data: { controller: "stream-interactions"}}
  .img
    = render "streams/comments/comment_author", {author: comment.author, created_at: comment.created_at}
  = comment.rendered_text
  %div.comment-interactions
    = render partial: "streams/comments/comment_interactions", locals: {comment: comment}
  %div
  - comment.sub_comments.each do |sub_comment|
    .threaded-comment
      = render partial: "streams/comments/comment", locals: {comment: sub_comment}
