.float-end#actions
  = render partial: "posts/unlike_action", locals:{post: post} if post.own_interaction_state[:liked]
  = render partial: "posts/like_action", locals:{post: post} unless post.own_interaction_state[:liked]
  = link_to "#", rel: "nofollow", role: "button", data:{bs_toggle:"tooltip"} ,title: t("post-actions.comment") do
    %i.entypo-comment.gray.large
  = link_to "#", rel: "nofollow", role: "button" do # if this is a reshare, mark it and dont let user reshare again (or reshare the original?)
    %i.entypo-reshare.gray.large

