.float-end#actions
  = render partial: "posts/unlike_action", locals:{post: post} if post.own_interaction_state[:liked]
  = render partial: "posts/like_action", locals:{post: post} unless post.own_interaction_state[:liked]
  = link_to "#", rel: "nofollow", role: "button", data:{bs_toggle:"tooltip"} ,title: t("post-actions.comment") do
    %i.entypo-comment.gray.large
  - if post.user_can_reshare?
    = link_to new_reshare_path(root_guid: post.guid), rel: "nofollow", role: "button",
    data: { turbo_frame: "remote_modal",
    turbo_action: "replace" } do
      %i.entypo-reshare.gray.large