- if entry.own_interaction_state[:liked]
  = render partial: "streams/interactions/own_interactions", locals:{entry: entry}
- else
  = render partial: "streams/interactions/other_interactions", locals: {entry: entry}