&#8231
= link_to new_reshare_path(root_guid: post.guid), rel: "nofollow", role: "button",
data: { turbo_frame: "remote_modal",
turbolinks_action: "replace" } do
  %i.bi.bi-share
  = t("post-actions.share")