@import "color_variables";

$navbar-height:50px;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: $main-background;
}

.container-fluid {
  max-width: 1200px;
}
.container-lg {
  margin-top: 70px;
}
