@import "light_colors";

.stream-element {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  background-color: $color6;
  padding: 10px;

  a {
    text-decoration: none;
  }

  .img {
    margin-right: 5px;
    display: inline;
  }

  .person-name {
    display: inline;
  }

  .post-head-text {
    font-size: 0.9em;
    color: $color3;
  }

  .bd {
    overflow: hidden;
  }

  // A normal post
  .status-message {
    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }

    /* Create two equal columns that sits next to each other */
    .column {
      flex: 50%;
      padding: 0 4px;
    }

    .column img {
      margin-top: 8px;
      vertical-align: middle;
    }
  }

  .root-stream-element {
    border-left: 2px solid #ddd;
    margin-top: 5px;
    margin-left: 20px;

    .status-message {
      margin-left: 20px;
    }
  }

  .post-sub-headline {
    margin-left: 20px;
  }

  img {
    display: inline;
    max-width: 100%;
    height: auto;
  }
}

.comments {
  margin-left: 10px;
  padding: 10px 0;

  .comment {
    border-top: 1px dotted #ddd;
    padding-top: 10px;
  }

  .threaded-comment {
    margin-left: 10px;
    border-left: 3px solid darkgray;
    padding-left: 5px;
  }
}

.stream-element-footer {
  margin-top: 10px;
  font-size: 0.9em;

  .post-actions {
    border-top: 1px solid lightgray;
    margin: 15px 0 0 10px;
    padding-top: 10px;
  }

  .post-interactions {
    border-top: 1px solid lightgray;
    margin: 15px 0 0 10px;
    padding: 5px 0 5px 0;
  }
}

.stream_pagination_controls {
  // display: contents;
}
.stream_pagination_links {
  display: none;
}

.opengraph-container {
  width: 100%;
  background-color: #f0f0f0;
  display: block;
  text-decoration: none;
  font-style: normal;
  margin: 10px 0 10px 0;
  border: solid 1px #ddd;
  // border-bottom:solid 1 px #ddd;
  padding: 10px 0 5px 0;
  overflow: hidden;

  .thumb {
    float: left;
    margin: 5px 0 5px 0;
    // max-width: 150px;
    padding-right: 5px;
  }

  .og-title {
    font-weight: bold;
  }

  a {
    color: $color1;
  }
}