.sidebar-header > h3 {
  margin: 5px 8px 8px;
  font-size: 13px;
  line-height: 1.1;
}

.sidebar-avatar {
  padding-right: 10px;
}

.media.stream-element {
  margin: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  min-height: 50px;
}